<h1>Instance 0x<%= @instance.id.to_s(16) %> of <%= @instance.cls.name %></h1>

<% if @instance.data %>
<div>Data: <%= data_value(@instance) %></div>
<% end %>

<% if @instance.variables.length > 0 %>
<div>Instance Variables: 
  <%   @instance.variables.each do |name, ref| %>
  <%= instance_link(ref, name) %>
  <%   end %>
</div>
<% end %>

<% if @instance.referers %>
<div>Referers:
  <%= @instance.referers.inspect %>
  <%   @instance.referers.each do |id| %>
  <%= instance_link(id) %>
  <%   end %>
</div>
<% end %>
