<h1> Instance: &nbsp; <%= @instance.display_name %> </h1>

<% if @instance.data %>
  <div> <b> Data: </b> <%= data_value(@instance) %></div>
<% end %>

<% if @instance.variables.length > 0 %>
  <div>
    <b> Instance Variables: </b> <br />
    <% @instance.variables.each do |name, ref| %>
      <% instance = Memory.instance.find_by_id(ref.to_i) %>
      <%= name %> =
      <%= link_to instance.display_value, instance_path(instance) %>
      <br />
    <% end %>
  </div>
<% end %>

<% if @instance.referers %>
  <div>
    <b> Referers: </b>
    <%= @instance.referers.inspect %>
    <% @instance.referers.each do |id| %>
      <%= instance_link(id) %>
    <% end %>
  </div>
<% end %>
