<h1> Instance: &nbsp; <%= @instance.display_name %> </h1>

<% if @instance.data %>
  <div> <%== data_value(@instance) %></div>
<% end %>

<% if @instance.variables %>
  <div>
    <b> Instance Variables: </b> <br />
    <% @instance.variables.each do |name, ref| %>
      <% instance = Memory.instance.find_by_id(ref.to_i) %>
      <%= name %> =
      <% if instance %>
         <a href="<%= instance_path(instance) %>"><%= instance.display_name %></a>
      <% else %>
          <%= ref.inspect %> (missing ref!)
      <% end %>
      <br />
    <% end %>
  </div>
<% end %>

<% if @instance.referers %>
  <div>
    <b> Referers: </b>
    <% @instance.referers.each do |id| %>
      <% instance = Memory.instance.find_by_id(id.to_i) %>
      <a href="<%= instance_path(instance) %>"><%= instance.display_name %></a>
  <% end %>
  </div>
<% end %>
